<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>TreeHouse</string>
        <key>CFBundleExecutable</key>
        <string>treehouse</string>
        <key>CFBundleIconFile</key>
        <string>treehouse.icns</string>
        <key>CFBundleIdentifier</key>
        <string>is.karol.treehouse</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>TreeHouse</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>0.1.0</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>TreeHouse</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>is.karol.treehouse</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>20250326.172706</string>
        <key>CSResourcesFileMapped</key>
        <true/>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.utilities</string>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright (c) Karolis Ramanauskas 2025. All rights reserved.</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>NEWICK Tree File</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>newick.icns</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>newick</string>
                    <string>tre</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>NEXUS File</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>nexus.icns</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>tree</string>
                    <string>trees</string>
                    <string>nex</string>
                    <string>nexus</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
